@charset "UTF-8";

@font-face {
    font-family: 'Titulo';
    src: url(fontes/titulo.otf) format('opentype');
    font-weight: normal;
}

@font-face {
    font-family: 'Paragrafos';
    src: url(fontes/paragrafos.otf) format('opentype');
    font-weight: normal;
}

*{
    margin: 0px;
    padding: 0px;
}

:root{
    --cor0: #5E090A;
    --cor01: #3D0506;
    --cor02: #230E11;
    --cor03: #0A0404;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-titulo: 'Titulo', cursive;
    --fonte-paragrafos: 'Paragrafos', cursive;
}

body{
    background-color: var(--cor01);
    
}
header{
    background-color: #5E090A;
     width: 881px;
    margin: auto;
    padding: 10px;
}
nav{
    font-family: var(--fonte-padrao);
    margin: auto;
    padding: 1px 38px;
}

nav > a{
    padding: 5px 30px 5px;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition-duration: 1s;
}

nav > a:hover{
    background-color: white;
    color: var(--cor0);
    margin: auto
}

main{
    background-color: var(--cor03);
    width: 881px;
    margin: auto;
    padding: 10px;
}

.titulo{
    display: flex;
    gap: 20px;
    align-items: center;
    font-family: var(--fonte-titulo);
    color: white;
    padding: 20px;
}


p{
    color: white;
}