@charset "UTF-8";

@font-face {
    font-family: 'Titulo';
    src: url(fontes/titulo.otf) format('opentype');
    font-weight: normal;
}

@font-face {
    font-family: 'Paragrafos';
    src: url(fontes/paragrafos.otf) format('opentype');
    font-weight: normal;
}

*{
    margin: 0px;
    padding: 0px;
}

:root{
    --cor0: #5E090A;
    --cor01: #3D0506;
    --cor02: #230E11;
    --cor03: #0A0404;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-titulo: 'Titulo', cursive;
    --fonte-paragrafos: 'Paragrafos', cursive;
}

body{
    background-color: var(--cor01);
    background-image: url(Imagens/fundo-body1.0.png);
    background-repeat: repeat;
    
header{
    background-color: #5E090A;
    margin: auto;
    max-width: 980px;
    padding: 10px;
}

.titulo{
    display: flex;
    gap: 20px;
    align-items: center;
    font-family: var(--fonte-titulo);
    font-size: 1.5vw;
    color: white;
    padding: 20px;
    letter-spacing: 3px;
    min-width: 500px;
}

nav{
    font-family: var(--fonte-padrao);
    margin: auto;
    padding: 1px 38px;
    font-size: 1em
}

nav > a{
    padding: 5px 30px 5px;
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition-duration: 1s;
}

nav > a:hover{
    background-color: white;
    color: var(--cor0);
    margin: auto
}

main{
    position: relative;
    z-index: 1;
    width: 959px;
    height: 864px;
    margin: auto;
    padding: 20px;
    margin-bottom: 30px;
    background-color: var(--cor03);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.514);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

main::after{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url(Imagens/dundo-main.jpg);
    background-position: center center;
    background-size: cover;
    opacity: 0.4;
    z-index: -1;
}

section#principal{
    text-align: center;
}

aside{
    background-color: white;
    margin: auto;
    padding: 5px;
    padding-bottom: 10px;
    margin-bottom: 5px;
    margin-top: -4px;
    max-width: 671px;
}

aside:hover{
    background-color: var(--cor0);
    transition-duration: 1s;
}

aside > a{
    color: black;
    text-decoration: none;
}

aside > a:hover{
    color: white;
    text-decoration: underline;
}

div.quadrado{
    width: 300px;
    height: 300px;
    display: inline-block;
}

div.quadrado > p{
    color: white;
    text-align: justify;
    width: 278px;

}

div.quadrado img{
    width: 278px;
    height: 170px;
}

div.tamanho{
    width: 200px;
    height: 200px;
    display: inline-block;
}

div.tamanho > img{
    width: 200px;
    height: 200px;
    
}

div.tamanho#pequeno > img{
    width: 126px;
    height: 112px;
}



footer{
    background-color: var(--cor02);
    color: white;
    text-align: center;
    text-decoration: none; 
    padding: 5px;  
}

footer > p > a{
    color: white;
}

footer > p > a:hover{
    text-decoration: underline;
    color: red;
}